<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring_mybatis.dao.ModelInfoMapper">
  <resultMap id="BaseResultMap" type="com.example.spring_mybatis.model.ModelInfo">
    <id column="model_id" jdbcType="INTEGER" property="modelId" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
  </resultMap>
  <sql id="Base_Column_List">
    model_id, parent_id, model_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from model_info
    where model_id = #{modelId,jdbcType=INTEGER}
  </select>
  <select id="selectAllModelInfo" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from model_info
	</select>
  <select id="selectByParentId"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from model_info
		where parent_id = #{parentId,jdbcType=INTEGER}
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from model_info
    where model_id = #{modelId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.spring_mybatis.model.ModelInfo">
    insert into model_info (model_id, parent_id, model_name
      )
    values (#{modelId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{modelName,jdbcType=VARCHAR}
      )
  </insert>
 <insert id="insertSelective"
		parameterType="com.example.spring_mybatis.model.ModelInfo"
		keyColumn="model_id" keyProperty="modelId" useGeneratedKeys="true">
		insert into model_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="modelId != null">
				model_id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="modelName != null">
				model_name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="modelId != null">
				#{modelId,jdbcType=INTEGER},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=INTEGER},
			</if>
			<if test="modelName != null">
				#{modelName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.example.spring_mybatis.model.ModelInfo">
    update model_info
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
    </set>
    where model_id = #{modelId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.spring_mybatis.model.ModelInfo">
    update model_info
    set parent_id = #{parentId,jdbcType=INTEGER},
      model_name = #{modelName,jdbcType=VARCHAR}
    where model_id = #{modelId,jdbcType=INTEGER}
  </update>
</mapper>