.font1 {
	margin-top: 20px;
	margin-left: 40px;
	font-size: 18px;
}

.font2 {
	margin-left: 40px;
	margin-top: 20px;

}

#groupName {
	position: absolute;
	margin-top: -18px;
	margin-left: 150px;
	width: 175px;
	height: 22px;
}

.font3 {
	margin-top: 25px;
	margin-left: 40px;
}
#blue {
	background-color: #669df6;
	height: 35px;
	width: 600px;
	border-top-left-radius: 20em;
	border-top-right-radius: 20em;
}
#groupDescription {
	margin-top: -20px;
	margin-left: 150px;
	width: 375px;
	height: 165px;
}

.font4 {
	margin-top: 20px;
	margin-left: 40px;
}



.add {
	margin-left: 15px;
}

.roleTable {
	margin-top: 10px;
	text-align: center;
	margin-left: 40px;
}

.roleTable tr {
	height: 35px;
}



.authorityTable tr td .checkbox {
	margin-top: 2px;
}

.font6 {
	margin-top: 20px;
	margin-left: 40px;
}

.authorityTable {
	margin-top: 10px;
	margin-left: 40px;
}

.authorityTable tr td {
	text-align: center;
	font-size: 10px
}

.ok {
	width: 100px;
	height: 30px;
	border: #f6fffe solid 1px;
	background-color: #669df6;
	color: #FFFFFF;
	margin-left: 200px;
	margin-top: 50px;
}

.exit {
	width: 100px;
	height: 30px;
	border: #f6fffe solid 1px;
	background-color: #669df6;
	color: #FFFFFF;
	margin-left: 45px;
}
